<div class="bs-old-docs">
  <div class="container">
    <strong>
      Need help? Visit Assemble's <a href="https://github.com/assemble/assemble/">GitHub repo</a> or visit the <a href="http://assemble.io/docs">Assemble docs</a> to learn more!
    </strong>
  </div>
</div>